<header class="sans-serif">
  <div class="db cover bg-left bg-center-l" style="background-image: url(assets/images/header-placeholder-borobudur-2.jpg">
    <div class="flex items-center bg-black-50 vh-100">
      <nav class="absolute top-0 db dt-c w-100 border-box pa3 ph5-l">
        <div class="db dtc-c v-mid w-100 tc">
          <a class="link dim soft-beige f6 f5-l dib ph4" href="#" title="Home">Home</a>
          <a class="link dim soft-beige f6 f5-l dib ph4" href="#" title="How it Works">Games</a>
          <a class="link dim soft-beige f6 f5-l dib ph4" href="#" title="Blog">Tentang Kami</a>
          <a class="link dim soft-beige f6 f5-l dib ph4" href="#" title="Press">Hubungi Kami</a>
        </div>
      </nav>

      <div class="w-100 vh-100 mh5-ns mh4 flex flex-nowrap-l flex-wrap items-center-l items-end justify-between-l justify-center">
        <img src="/assets/logo.svg">
        <div class="w-30-l w-100 lh-solid mb0-l mb3 tr soft-beige">
          <h1 class="f2"> Lorem Ipsum Dolor Sit Amet</h1>
          <p class="lh-copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </div>
</header>
