<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/assets/main.css" charset="utf-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="bg-soft-beige">
  {% include header.html %}
  {{ content }}
  {% include footer.html %}

  <script>
    $(document).ready(function() {
      $("#menu").click(function() {
        $("#content").toggle();
      });
    });
  </script>
</body>

</html>
